.footer_top{
    background-color: #094B72;
    padding: 90px 0;

}
.footer_top .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.navigation{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.list-group li{
    background-color: transparent !important ; 
    color:  white;
    border: none;
    font-weight: 400;
}
ul.list-group li:first-child{
   font-size: 20px;
   margin-bottom: 10px;
   font-weight: 500;
}
.footer_bottom{
    background-color: #004D7B;

}
.footer_bottom .container{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items:  center;
}
.copyright{
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.socials ul{
    display: flex;
    list-style: none;
}
.socials ul li{
margin-left: 15px;
background-color: rgba(245, 222, 179, 0.103);
padding: 5px;
border-radius:  100%;
}
.socials ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

}
.socials ul li a i{
    color: white;
    font-size: 15px;
    
}
.collapse .navbar-nav li a{
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #2D2F30;
    margin-left: 20px;
    text-decoration: solid;
  
  }
  
  .search_offcanvas{
    height: 150px;
    border-radius: 10px;
  }
  
  .my_button{
    border-color: #094B72 !important;
    color: #094B72 !important;
  }
  
  .my_button:hover{
    background-color: #094B72 !important;
    color: white !important;
  }
  
  .search_btn{
    margin-left: 50px;
  }
  
  section.hero{
    position: relative;
  }
  
  .hero .texts {
    padding-top: 140px;
    width: 60%;
  }
  
  .text-bg-new {
    background-color: #094B72;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  
  .text-bg-stay {
    background-color: #E7F6FF;
    color: #193E6C !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  
  h1.title{
    margin: 30px 0;
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #094B72;
  }
  
  div.desc p{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #4F4F4F;
  }
  
  .more a{
    padding: 30px 35px;
    margin: 40px 0 100px;
    color: white !important;
    background-color: #094B72 !important;
  }
  
  .companies h4{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #8B8C8C;
    padding-bottom: 50px;
  }
  
  .companies .companies_list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 30px;
  }
  
  .cover_img{
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .cover_img .figcaption{
    width: 380px;
    padding: 20px 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -70%);
  
  }
  .cover_img .figcaption h3{
    font-size: 24px;
    font-weight: 700;
    color: #33475B;
  }
  .cover_img .figcaption p{
    font-size: 16px;
    font-weight: 500;
    color: #87898C;
  }
  
  section.why{
    background-color: #094B72;
  }
  .card {
    padding: 30px;
    border: none !important;
    box-shadow: 0px 18px 58px 16px #0000000F;
    
  }
  
  .card img {
    height: 35px;
    width: 35px;
  }
  
  .about {
    padding: 70px;
    background-color: #F2F7FF;
  }
  .legalization p{
   color: #4F4F4F;
   font-size: 20px;
   
  }
  .legalization{
    padding: 25px;
  
  }
  .info{
    display: flex;
    width: 1440px;
    height: 786px;
    left: 0px;
    top: 1024px;
    background: #F2F7FF;
  }
  .information p{
    font-size: 12px;
  }
  .help{
    position: absolute;
    width: 384px;
    height: 144px;
    left: 175px;
    top: 1356px;

    }
  .help h3{
    font-family: 'Playfair Display';
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.32307693362236023px;
    text-align: left;

    }
 .help p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: left;

    }
 .achiument{
    position: relative;
    text-align: center;
    padding: none !important;
    margin: none;
    
 }
 .text_achiuments{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
 }
 .figure_coun{
    margin: 0 !important;
 }
 .count{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .count strong{
    font-size: 48px;
    font-weight: 800;

 }
 .count div{
    width: 250px;
    border-right: 1px solid white;

 }
 .count div:last-child{
    border-right: none;
 }
 .testimonials{
  display: flex;
 
  background-color: aqua;

  
 }
 .clients{
  display: flex;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 27.63%;
  background: #C4C4C4;
  border-radius: 10px;
 
 }
 .photo{
  height: 56px;
  width: 209px;
  left: 160px;
  top: 248px;
  border-radius: 0px;
  
 }
 .call  img{
  height: 250px;
  width: 350px;
  border-radius: 0px 0px 0px 40px;

 }
 .call p{
  width: 500px;
  padding: 15px;

}
.call h2{
  
  padding: 15px;
}
.buton-call{
  background-color: #004D7B;
  height: 50px;
  width: 150px;
  border-radius: 8px;
  margin: 12px;

}
.buton-call img{
  height: 25px;
  width: 25px;
  margin: 15px;
}
.cal{
 margin: 11px;
 color: white;
}

.member2{
  margin-left: 100px;
}
.testimonials .members{
  display: flex !important;
  grid-template-columns: repeat(2, 1fr) !important;
  width: 800px;
  height: 200px;
  margin-top: 100px;
 
 
}
.testimonials .corporate{
  
 color: brown;
  height: auto;
  width: auto;
 position: inherit;
  
 

 
}
.corporate{
  background-color: chartreuse;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

